html{
  scroll-behavior:smooth;
}
body{
  margin:0;
  background-color: #140f2b;
  font-family: 'Open Sans', sans-serif;
}

.header_container {
  top:0;
  left:0;
  right: 0;
  background-color: rgb(12, 9, 31);
  margin-top: 1%;
}

.header_menu_a {
  text-decoration: none;
  color:#fff;
  margin-left: 3%;
  font-size: 18px;
}

.footer {
  background-color: rgb(12, 9, 31);
  color: rgb(255, 255, 255);
  display: flex;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 0.3%;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
}

.contact {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.icon_img {
  width: 20%;
  margin-left: 15%;
}




@media screen and (max-width: 1150px) {
  .header_menu_a, .contact {
    font-size: 17px;
  }
}

@media screen and (max-width: 1000px) {
  .header_menu_a, .contact {
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .header_menu_a, .contact {
    font-size: 15px;
  }
}
@media screen and (max-width: 800px) {
  .header_menu_a, .contact {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  .header_menu_a, .contact {
    font-size: 13px;
  }
}

@media screen and (max-width: 600px) {
  .header_menu_a, .contact {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .header_menu_a, .contact {
    font-size: 11px;
  }
}

@media screen and (max-width: 400px) {
  .header_menu_a, .contact {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  .header_menu_a, .contact {
    font-size: 9px;
  }
}

@media screen and (max-width: 280px) {
  .header_menu_a, .contact {
    font-size: 7px;
  }
}

@media screen and (max-width: 178px) {
  .header_menu_a, .contact {
    font-size: 5px;
  }
}
